article p{
    background: blue;
    color: white;
    padding: 20px;
}
article >p{
    background: red;
}
article ~p{
    background: purple;
    color: white;
    padding: 20px;
}
article +p{
    background: green;
}
input:out-of-range{
    border: 7px solid red;
}
span:first-of-type{
    background: black;
    color: white;
    padding: 2px;
}
input:invalid{
    border: 2px solid red;
}
input:valid{
    border:2px solid green;
}
div{
    opacity: 0.1;
}

